html {
    background-color: whitesmoke;
  }
body {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    margin: 0 auto;
    font-family: 'pretendard';
    background-color: #FBF8FE;
    max-width: 420px;
}

.container {
    flex-wrap: wrap;
    width: 100%;
    max-width: 420px;
    background-color: #FBF8FE;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #FBF8FE;
}

header h1 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.icon img {
    width: 24px;
    height: 24px;
}

.category-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #FBF8FE;
    
}
.category {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    width: 108px;
    height: 36px;
    display: flex;
    justify-content: space-between;
    background-color: #FBF8FE;
    align-items: center;
    padding: 10px 20px;
}

.sort-dropdown {
    font-size: 14px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: #FBF8FE;
    color: #6F6B72;
}

.posts {
    padding: 10px 20px;
}

.post {
    display: block;
    background-color: #FBF8FE;
    width: auto;
    height:auto;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #6F6B72;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: 0.3s ease;
}

.post:hover {
    background-color: #e0d4ff;
}

.post p {
    margin: 0;
    font-size: 16px;
    color: #454347;
    font-weight: 600;
}

.tags {
    margin-top: 10px;
}

.tag {
    background-color: #cdcad049;
    color: #8520EA;
    border-radius: 20px;
    padding: 2px 8px;
    font-size: 12px;
}

.post-stats {
    display: flex;
    justify-content: space-between;
    align-items: right;
    margin-top: 10px;
    font-size: 12px;
    color: #888;
    margin-left: 280px;
}

.post-stats img {
    width: 16px;
    height: 16px;
    margin-left: 5px;
}



/* .write-button img {
    width: 70px;
    height: 35px;
    position: absolute;
    bottom: 200px;
    right: 20px;
} */

.bottom-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px 0;
    background-color: #fff;
    border-top: 1px solid #e0e0e0;
    border-radius: 20px;
}

.nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #A39FA6;
    text-decoration: none;
    font-size: 12px;
    text-align: center;
}

.nav-item.active img {
    filter: grayscale(0%);
}
.nav-item.active {
    color: #a363ff;
}

.nav-item img {
    width: 20px;
    height: 20px;
    margin-bottom: 5px;
   
}
.nav-item1 img {
    width: 50px;
    height: 50px;
    
   
}