html {
  background-color: whitesmoke;
}
.backgroundContainer {
  max-width: 420px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #fbf8fe;
  display: flex;
  flex-wrap: wrap;
}
.mainContainer {
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.topContainer {
  display: flex;
  justify-content: space-between;
  padding: 30px;
}
.matchingButton {
  font-size: 12px;
  max-width: 115px;
  height: 20px;
  margin: 5px;
  padding: 6px;
  border-radius: 20px;
  border-color: #8520ea;
  border-style: solid;
  border-width: 1.7px;
  line-height: 20px;
  color: #8520ea;
  font-weight: bolder;
  text-align: center;
  margin-top: 30px;
  transform: translate(180%, 0%);
}
.middleContainer {
  padding: 30px;
}
.mzTeacherSearchButton {
  max-width: 314px;
  height: 43px;
  border-radius: 20px;
  background-color: #8520ea;
  display: grid;
  grid-template-columns: 1fr 2fr;
  place-items: center;
  margin: 0 auto;
  margin-bottom: 20px;
}
.teachingTop {
  display: flex;
}
.teachingTeacherTitle,
.appealMessage {
  color: #454347;
  font-size: 16px;
  font-weight: bolder;
  padding-left: 30px;
}
.꺽쇄채팅목록이동 {
  color: #454347;
  font-size: 20px;
  font-weight: bolder;
  line-height: 20px;
  padding-left: 10px;
}
.searchButton {
  margin-left: 50px;
}
.searcherTitle {
  color: white;
  margin-right: 90px;
}
.appealTeacherContainer {
}
.appealTeachers {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.teachingTeacherContainer {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 20px;
}
.teacher1,
.elseTeacher {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 123px;
  width: 110px;
  box-shadow: 0px 4px 4px 0px rgb(236, 232, 240);
  border-radius: 10px;
}
.appealteacherImage {
  grid-row: 1/3;
  margin-top: 10px;
  margin: 5px;
}
.teacherA {
  box-shadow: 0px 4px 4px 0px rgb(236, 232, 240);
  width: 360px;
  min-height: 70px;
  display: grid;
  grid-template-columns: 2fr 7fr;
  border-radius: 10px;
  margin-top: 30px;
}
.teacherIntroduce {
  grid-column: 2/4;
  grid-row-start: 2;
  font-size: 12px;
  color: #a39fa6;
}
.elseTeacher {
  display: flex;
  justify-content: center;
  align-items: center;
}
.teacher1name,
.teacher2name,
.teacher3name,
.teacherAname,
.teacherBname {
  font-size: 12px;
  color: #454347;
  margin-top: 10px;
  font-weight: bolder;
}
.teacher1catagory,
.teacher2catagory,
.teacher3catagory,
.teacherIntroduce {
  text-align: left;
  font-size: 11px;
  color: #a39fa6;
  margin-top: 5px;
}
.navContainer {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 20px 20px 0 0;
  height: 91px;
  list-style-type: none;
  padding-right: 40px;
}
.navHome,
.navTeaching,
.navCommunity {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.navHome a,
.navTeaching a,
.navCommunity a {
  text-decoration: none;
  color: #a39fa6;
}
a {
  text-decoration: none;
}

.teacher1 img {
  width: 54px;
  height: 54px;
}
.teacherA img {
  width: 45px;
  height: 45px;
  margin-top: 5px;
}
