body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'pretendard';
    max-width: 420px;
    height: 100vh;
    margin: 0 auto;
    background-color: #FBF8FE;
    flex-wrap: wrap;
}

.container {
    text-align: center;
    background-color: #FBF8FE;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.message {
    font-size: 22px;
    margin-bottom: 20px;
    line-height: 160%;
    text-align: left;
    color: #454347;
    font-weight: bold;
    padding-right: 100px;
    margin-top: 20px;
}

.sub-message {
    font-size: 12px;
    color: #A39FA6;
    margin-bottom: 30px;
    line-height: 160%;
    text-align: left;
}

.magnifying-glass {
    width: 279px;
    height: 279px;
    margin-top: 80px;
}

.buttons {
    margin-top: 20px;
    justify-content: center;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 14px;
    color: white;
    background-color: #8520EA;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    width: 314px;
    height:25px;
}


.text{
    color: #A39FA6;
    text-align: right;
    margin-top: 92px;
}
.text .link {
    color: #A39FA6; /* 원하는 색상으로 변경 */
    text-decoration: none;
    font-size: 14px;
}