@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'pretendard';
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #FBF8FE;
}

.login-form h1 {
  font-size: 22px;
  text-align: left;
  margin-bottom: 52px;
  color: #454347;
  line-height: 160%;
}

.int-area {
  width: 400px;
  position: relative;
  margin-top: 40px;
  color: #454347;
  margin-bottom: 20px;
}

.int-area:first-child {
  margin-top: 0;
}

.int-area input {
  width: 100%;
  padding: 20px 10px 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #CDCAD0;
  font-size: 18px;
  outline: none;
}

.int-area label {
  position: absolute;
  left: 10px;
  top: 15px;
  font-size: 18px;
  transition: top 0.5s ease;
  margin-bottom: 5px;
}

.int-area label.warning {
  color: red !important;
  animation: warning 0.3s ease;
  animation-iteration-count: 3;
}

@keyframes warning {
  0% {
    transform: translateX(-8px);
  }
  25% {
    transform: translateX(8px);
  }
  50% {
    transform: translateX(-8px);
  }
  75% {
    transform: translateX(8px);
  }
}

.int-area input:focus + label,
.int-area input:valid + label {
  top: -2px;
  font-size: 13px;
  color: #454347;
}

.btn-area {
  margin-top: 80px;
}

.btn-area button {
  width: 100%;
  height: 50px;
  margin: 0px 10px;
  color: #fff;
  background: #8520EA;
  border: none;
  border-radius: 10px;
  font-size: 15px;
  cursor: pointer;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 100px;
}

.box {
    width: calc(20% - 30px);
    height: 55px;
    border: 2px solid transparent;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: border-color 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.box img {
    width: 39px;
    height: 36px;
   
}

.box.selected {
    border-color: #8520EA;
}