html {
    background-color: whitesmoke;
  }
  body {
    max-width: 420px;
    height: 100vh;
    margin: 0 auto;
    background-color: #fbf8fe;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  
  .profile-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .profile-form img{
    justify-content: left;
  }
  
  .profile-form h1 {
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 40px;
    line-height: 160%;
    color: #454347;
    text-align: center; 
    width: 100%; 
  }
  .profile-title {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.left-arrow {
    position: absolute;
    left: 10;
    top:-2;
    margin-right: 10px; 
    width: 10px; 
    height: auto; 
}
  
  .profile-image-container {
    position: relative;
    text-align: center;
    display: block;
    margin-bottom: 51px;
  }
  
  .profile-image {
    width: 126px;
    height: 126px;
    text-align: center;
    border-radius: 50%;
    background-color: #e0e0e0;
  }
  
  .camera-icon {
    position:absolute;
    top:100;
    right:100;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #8520EA;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  
  .camera-icon img {
    width: 35px;
    height: 35px;
  }
  
  .int-area {
    margin-bottom: 60px;
    position: relative;
    width: 100%;
    max-width: 315px;
  }
  
  .int-area input {
    width: 310px;
    border: none;
    border-bottom: 2px solid #e0e0e0;
    background: none;
    font-size: 14px;
    margin-top: 15px;
  }
  
  .int-area input:focus {
    outline: none;
    border-bottom-color: #8520EA;
  }
  
  .int-area label {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #A39FA6;
    font-size: 14px;
    pointer-events: none;
    transition: all 0.3s;
  }
  
  .int-area input:focus + label,
  .int-area input:not(:placeholder-shown) + label {
    top: 0;
    font-size: 12px;
    color: #454347;
  }
  
  .btn-area {
    width: 100%;
    max-width: 315px; 
    margin-top: 30px;
    display: flex;
    justify-content: center;
  }
  
  .btn-area button {
    background-color: #8520EA;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    height: 50px;
    max-width: 314px; 
  }
  