html {
  background-color: whitesmoke;
}
.backgroundContainer {
  max-width: 420px;
  height: 100vh;
  margin: 0 auto;
  background-color: #fbf8fe;
  display: flex;

  flex-wrap: wrap;
}
.mainContainer {
  width: 100%;
}
.topContainer {
  display: grid;
  grid-template-columns: 20fr 1fr;
  place-items: center;
  padding: 30px;
}
.teacherProfile {
  display: grid;
  grid-template-columns: 1fr 7fr;
  border-radius: 10px;
  margin-top: 30px;
  grid-column: 1/3;
  padding: 30px;
}
.teacherCatagory {
  grid-column: 2/3;
  color: #a39fa6;
}
.teacherName {
  margin-top: 15px;
}
.teacherImage {
  grid-row: 1/3;
  margin-right: 20px;
}
.teachStar {
  padding: 30px;
}
.stars {
  margin-top: 10px;
}
.teachReview {
  padding: 30px;
}
.reviewBox {
  margin-top: 10px;
}
.write {
  display: flex;
  justify-content: center;
}
.writeButton {
  width: 314px;
  height: 50px;
  border-radius: 10px;
  background-color: #8520ea;
  color: white;
  font-size: 14px;
  font-weight: bolder;
  line-height: 50px;
  text-align: center;
  margin: 10px;
}
textarea {
  border: none;
  min-height: 160px;
  width: 330px;
  box-shadow: 0px 4px 4px 0px rgb(236, 232, 240);
  resize: none;
  border-radius: 10px;
  background: transparent;
  padding: 10px;
  color: #a39fa6;
  font-size: 14px;
}
