html {
  background-color: whitesmoke;
}
body {
  font-family: "pretendard";
}
.backgroundContainer {
  max-width: 420px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #fbf8fe;
  display: flex;
  flex-wrap: wrap;
}
.mainContainer {
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.topContainer {
  padding: 40px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.imageContainer {
  position: relative;
}
.background {
  background-color: #8520ea;
  height: 123px;
}
.profile {
  font-size: 18px;
  color: #454347;
  font-weight: bolder;
}
.profileImage {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%);
}
.runnerProfile {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  line-height: 23px;
  margin-bottom: 50px;
}
.runnerName {
  margin-left: 70px;
  font-size: 22px;
  color: #454347;
  font-weight: bolder;
}
.runnerButton {
  margin-left: 20px;
  font-size: 12px;
  width: 52px;
  height: 20px;
  border-radius: 20px;
  border-color: #8520ea;
  border-style: solid;
  border-width: 1.7px;
  line-height: 20px;
  color: #8520ea;
  font-weight: bolder;
  text-align: center;
}
.matchingInfo {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  color: #454347;
  font-weight: bolder;
  padding: 10px;
  border-bottom: 2px solid #cdcad0;
  width: 75%;
  margin: 0 auto;
}
.teachingtype {
  padding-left: 30px;
  padding-right: 30px;
  margin-top: 30px;
}
.teachingtypeTitle,
.skillTitle {
  font-size: 14px;
  color: #454347;
  font-weight: bolder;
}
.teachingtypeBox {
  padding-top: 10px;
  display: flex;
}
.type {
  box-shadow: 0px 4px 4px 0px rgb(236, 232, 240);
  min-width: 90px;
  text-align: center;
  margin-right: 10px;
  border-radius: 10px;
  color: #6f6b72;
  font-size: 16px;
  padding-bottom: 10px;
}
.skillContainer {
  padding-top: 30px;
  margin-top: 20px;
}
.skillBox {
  display: flex;
  padding-top: 10px;
  flex-wrap: wrap;
}
.skill {
  box-shadow: 0px 4px 4px 0px rgb(236, 232, 240);
  min-width: 80px;
  height: 30px;
  text-align: center;
  margin-right: 20px;
  margin-top: 10px;
  line-height: 30px;
  border-radius: 10px;
  padding: 5px;
  color: #6f6b72;
  font-size: 16px;
}
a {
  text-decoration: none;
}


