.search {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search input[type="text"] {
    min-width: 300px;
    height: 40px;
    border-radius: 15px;
    border-style: solid;
    border-color: #a39fa6;
    padding-left: 40px;
    background-image: url('../images/mainChat/mingcute_search-line.png');
    background-repeat: no-repeat;
    background-position: 10px center;
}

.search-button {
    background: url('../images/mainChat/magnifying-glass.png') no-repeat center;
    background-size: 50%;  /* 아이콘 크기 조정 */
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    background-color: #ffffff;  /* 배경색 추가 */
    border-radius: 15px;  /* 버튼의 둥근 모서리 추가 */
}

.search-button:hover {
    background-color: #f0f0f0;  /* 호버 효과 추가 */
}

.matchingTitle {
    font-size: 18px;
    font-weight: bolder;
    color: #454347;
    text-align: center;
}

.chatingContainer .chat1 .chatimage img {
    width: 100%;
    height: auto;
}
