html {
  background-color: whitesmoke;
}

.backgroundContainer {
  max-width: 420px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #fbf8fe;
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}

.topContainer {
  padding: 30px;
}

.backArrow {
  font-size: 25px;
  color: #454347;
  margin-bottom: 30px;
}

.message {
  font-size: 20px;
  color: #454347;
  font-weight: bolder;
}

.teacherB,
.teacherC {
  box-shadow: 0px 4px 4px 0px rgb(236, 232, 240);
  max-width: 400px;
  min-height: 70px;
  display: grid;
  grid-template-columns: 1fr 7fr;
  border-radius: 10px;
  margin-top: 30px;
  grid-column: 1/3;
}
.teacherB .profileImage,
.teacherC .profileImage {
  padding-left: 5px;
}
.teacherA {
  box-shadow: 0px 4px 4px 0px rgb(236, 232, 240);
  max-width: 400px;
  min-height: 70px;
  display: grid;
  grid-template-columns: 1fr 3.5fr 2fr;
  border-radius: 10px;
  margin-top: 30px;
}

.profileImage {
  grid-row: 1/3;
  margin-top: 10px;
  padding-right: 10px;
}

.teacherName {
  font-size: 14px;
  font-weight: bolder;
  color: #454347;
}

.teacherIntroduce {
  grid-column: 2/4;
  grid-row-start: 2;
  font-size: 12px;
  color: #a39fa6;
}

.teachCatagories {
  padding: 25px;
  background-color: white;
}

.teachCatagoriesTop {
  display: flex;
}

.teachCatagoriesMain {
  display: flex;
  justify-content: center;
  max-width: 380px;
  flex-wrap: wrap;
}

.c {
  margin-left: 10px;
  font-size: 18px;
  color: #454347;
}

.catagory {
  box-shadow: 0px 4px 4px 0px rgb(236, 232, 240);
  font-size: 13px;
  width: auto;
  height: 30px;
  margin: 5px;
  padding: 6px;
  border-radius: 10px;
  line-height: 35px;
  cursor: pointer;
}

.catagory.checked {
  border: 2px solid #8520ea;
}

label {
  cursor: pointer;
  margin: 0;
}

hr {
  border: 0;
  height: 1px;
  background: #bbb;
  width: 90%;
}

.allTeachers {
  padding: 30px;
}

.sort {
  font-size: 12px;
  color: #a39fa6;
}

.checkbox {
  display: none;
}
