<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>기본 프로필</title>
  </head>
  <body>
    <h2>기본 프로필</h2>
    <p>프로필이 설정되지 않았습니다.</p>
    <a href="{% url 'main:edit_profile' %}">프로필 설정</a>
    <br /><br />
    {% if request.user.is_authenticated %}
    <a href="{% url 'profiles:logout' %}">로그아웃</a>
    {% endif %}
    <br /><br />
    <a href="{% url 'main:main' %}">이전</a>
  </body>
</html>
