<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>러너 프로필</title>
  </head>
  <body>
    <h2>러너 프로필</h2>
    {% if profile %}
    <p>닉네임: {{ profile.nickname }}</p>
    <p>생년월일: {{ profile.birthDate }}</p>
    <p>역할: 러너</p>
    {% if profile.profile_emoji %}
    <p>
      프로필 이미지:
      <img src="{{ profile.profile_emoji.url }}" alt="프로필 이미지" />
    </p>
    {% endif %}
    <!-- 러너 전용 정보 표시 -->
    <p>러너 전용 필드1: {{ profile.role_specific_field1 }}</p>
    <p>러너 전용 필드2: {{ profile.role_specific_field2 }}</p>
    <a href="{% url 'main:edit_profile' %}">프로필 수정</a>
    {% else %}
    <p>프로필이 설정되지 않았습니다.</p>
    <a href="{% url 'main:edit_profile' %}">프로필 설정</a>
    {% endif %}
    <br /><br />
    {% if request.user.is_authenticated %}
    <a href="{% url 'main:main' %}">&lt;<</a>
    {% endif %}
  </body>
</html>
