<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>티쳐 메인 페이지</title>
  </head>
  <body>
    {% load static %}
    <h1>티쳐 메인 페이지</h1>
    <p>환영합니다, {{ profile.user.username }}!</p>
    <br />
    <a href="{% url 'main:profile_card_view' %}">내 프로필</a>
    <br /><br />
    <br /><br />
    <a href="{% url 'main:room' %}">채팅창</a>
    <br /><br />
    {% if request.user.is_authenticated %}
    <a href="{% url 'profiles:logout' %}">로그아웃</a>
    {% endif %}
  </body>
</html>
