<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MZ티쳐로 등록되었어요</title>
  </head>
  <body>
    <h1>반갑습니다 mz티쳐로 등록되었어요</h1>
    <ul>
      <li>닉네임: {{ profile.nickname }}</li>
      {% if profile.emoji %}
      <li>
        프로필사진: <img src="{{ profile.emoji.url }}" alt="" height="100" />
      </li>
      {% endif %}
      <li>
        티칭 타입:
        <ul>
          {% for personality in profile.personalities.all %}
          <li>{{ personality.name }}</li>
          {% endfor %}
        </ul>
      </li>
      <li>
        티칭 스킬 분야:
        <ul>
          {% for skill in profile.skills.all %}
          <li>{{ skill.name }}</li>
          {% endfor %}
        </ul>
      </li>
    </ul>
    <a href="{% url 'main:main' %}">메인화면으로 가기</a>
    <a href="{% url 'profiles:write_teachingplan' profile.id %}"
      >프로필(티칭계획) 작성하기</a
    >
  </body>
</html>
