<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>사용자 목록 및 프로필 설정</title>
  </head>
  <body>
    <h2>사용자 목록 및 프로필 설정</h2>
    {% if request.user.is_authenticated %}
    <a href="{% url 'accounts:logout' %}">로그아웃</a>
    <br />
    <form method="post" enctype="multipart/form-data">
      {% csrf_token %} {{ form.as_p }}
      <br />
      <form method="post" action="{% url 'main:main' %}">
        <button type="submit">다음으로</button>
      </form>
    </form>
    {% else %}
    <a href="{% url 'accounts:signup' %}">회원가입</a>
    <a href="{% url 'accounts:login' %}">로그인</a>
    {% endif %}
  </body>
</html>
