{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MZ의 스킬 - 러너</title>
    <link rel="stylesheet" href="{% static 'css/mainRunner.css' %}" />
  </head>
  <body>
    <div class="backgroundContainer">
      <div class="mainContainer">
        <div class="topContainer">
          <a href="{% url 'main:main' %}"><img src="{% static 'images/mainRunner/MZ.png' %}" /></a>
          <a href="{% url 'profiles:show_learner_profile' profile.id %}"
            ><img
              class="myPageIcon"
              src="{% static 'images/mainRunner/🦆 icon _user_.png' %}"
          /></a>
        </div>
        <div class="middleContainer">
          <div class="middleMessage">
            <span style="color: #8520ea; font-weight: bolder; font-size: 21px"
              >{{ profile.nickname }}</span
            >님,<br /><span
              style="color: #454347; font-size: 17px; font-weight: bolder"
              >1:1 매칭을 통해 맞춤 티처를 찾아드릴게요.</span
            >
          </div>
          <a href="{% url 'matching:match_teacher_list' profile.id %}"><div class="matchingButton">1:1 매칭 하러 가기</div></a>
        </div>
        <div class="teachingTeacher">
          <div class="teachingTop">
            <a href="{% url 'chat:room'%}"
              ><div class="teachingTeacherTitle">나와 티칭 중인 티쳐</div></a
            >
            <a href="{% url 'chat:room'%}"
              ><div class="꺽쇄채팅목록이동">></div></a
            >
          </div>

          <div class="teachingTeacherContainer">
            {% for teacher in my_teachers %}
            <a href="{% url 'chat:chat_view' teacher.user.username %}">
              <div class="teacher1">
                {% if teacher.emoji %}
                <img
                  width="54px"
                  height="54px"
                  src="{{ teacher.emoji.url }}"
                />
                {% else %}
                <img
                  width="54px"
                  height="54px"
                  src="{% static 'images/teacherIntroduce/3dicons (2).png' %}"
                />
                {% endif %}
                <div class="teacher1name">{{ teacher.nickname }}</div>
                <div class="teacher1catagory">{{ teacher.skills.first }}</div>
              </div>
            </a>
            {% endfor %}
            <a href="{% url 'chat:room'%}">
              <div class="elseTeacher">
                <img src="{% static 'images/mainRunner/🦆 icon _more vertical_.png' %}" />
              </div>
            </a>
          </div>
        </div>

        <a href="{% url 'matching:mzteacher_list' 0 %}"
          ><div class="mzTeacherSearchButton">
            <img class="searchButton" src="{% static 'images/mainRunner/Group.png' %}" />
            <div class="searcherTitle">MZ 티쳐 찾기</div>
          </div></a
        >

        <div class="appealTeacherContainer">
          <div class="appealMessage">어필 중인 MZ 티쳐를 소개해드려요.</div>
          <div class="appealTeachers">
            {% for teacher in teachers %}
            <a href="{% url 'matching:mzteacher_profile' teacher.id %}">
              <div class="teacherA">
                {% if teacher.emoji %}
                <img
                  class="appealteacherImage"
                  src="{{ teacher.emoji.url }}"
                />
                {% else %}
                <img
                  class="appealteacherImage"
                  src="{% static 'images/teacherIntroduce/3dicons (2).png' %}"
                />
                {% endif %}
                <div class="introducebox">
                  <div class="teacherAname">
                    {{ teacher.nickname }}({% for skill in teacher.skills.all %}{{ skill }}{% if not forloop.last %}/{% endif %}{% endfor %})
                  </div>
                  <div class="teacherIntroduce">
                    {{ teacher.bio }}
                  </div>
                </div>
              </div>
            </a>
            {% endfor %}
          </div>
        </div>
        <!-- <nav>
          <ul class="navContainer">
            <li class="navHome">
              <a href="{% url 'main:main' %}"
                ><img src="{% static 'images/mainRunner/Group 214.png' %}"
              /></a>
            </li>
            <li class="navTeaching">
              <a href="{% url 'chat:room'%}"
                ><img src="{% static 'images/mainRunner/🦆 icon _bookmark book_.png' %}"
              /></a>
              <a href="{% url 'chat:room'%}">1:1티칭</a>
            </li>
            <li class="navCommunity">
              <a href="{% url 'community:community' 0 1 %}"
                ><img src="{% static 'images/mainRunner/🦆 icon _chat bubble_.png' %}"
              /></a>
              <a href="{% url 'community:community' 0 1 %}">커뮤니티</a>
            </li>
          </ul>
        </nav> -->
        <nav class="bottom-nav">
          <a href="{% url 'main:main' %}" class="nav-item">
              <img src="{% static 'images/mainRunner/Group 214.png' %}" alt="Community Icon">
          </a>
          <a href="{% url 'chat:room'%}" class="nav-item">
              <img src="{% static 'images/community/teaching.png' %}" alt="Community Icon">
              <span>1:1 티칭</span>
          </a>
          <a href="{% url 'community:community' 0 1 %}" class="nav-item1">
              <img src="{% static 'images/mainRunner/🦆 icon _chat bubble_.png' %}" alt="Community Icon">
              <span>커뮤니티</span>
          </a>
      </nav>
      </div>
    </div>
  </body>
</html>